.bg-color {
  background-color: rgb(237, 146, 146);
}

.container {
  height: 400px;
  width: 90vw;
  margin-top: 1rem;
}

h1 {
  font-size: 1.1rem;
}

.totalScore {
  font-size: 3rem;
}

.currentContainer {
  height: 7rem;
  width: 7rem;
  margin-top: 5rem;
}
.item-reset {
  margin-top: 0.5rem;

  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-roll {
  top: 60%;
}

.btn-hold {
  top: 74%;
}

.dice {
  border: 2px;
  transform: scale(0.7);
  top: 20%;
  left: 37%;
}

.item1 {
  background-image: linear-gradient(to right, #f8f8f8, rgb(237, 146, 146));
}

.item2 {
  background-image: linear-gradient(to left, #f8f8f8, rgb(237, 146, 146));
}
